@font-face {
  font-family: 'UDEVGothic';
  font-weight: normal;
  font-style: normal;
  src: url('./UDEVGothic/UDEVGothic35HS-Regular.ttf')
}
body {
  font-family: 'UDEVGothic', sans-serif;
}
Text {
  font-family: 'UDEVGothic', sans-serif;
}